canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

canvas.game {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    height: auto;
    padding:0;
    background-color: #222;
}

body {
    padding: 0;
    background-color: #222;
}  
